<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.montaj.pro"
    android:versionCode="6"
    android:versionName="1.0.5">

    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.hardware.microphone" android:required="false" />

    <application
        android:label="مونتاج برو"
        android:icon="@mipmap/ic_launcher"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:allowBackup="false"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

        <!-- entry point: installs the crash reporter first, then opens the editor -->
        <activity
            android:name="com.montaj.pro.SplashActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.montaj.pro.MainActivity"
            android:exported="false"
            android:screenOrientation="fullSensor"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|density"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="singleTop" />
    </application>
</manifest>
