.DS_Store
Thumbs.db
*.log
__pycache__/
*.pyc
build/
.vs/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.user
*.obj
*.o
*.ilk
*.pdb
*.exp
*.lib
.venv*/
.venv-zig/
*.wav
*.pdb
*.ilk
/tmp/
dist/*.pdb
