; ROADFALL release targets. Install Godot 4.3+ and Android SDK/NDK to export.
[preset.0]
name="Windows Desktop"
platform="Windows Desktop"
runnable=true
advanced_options=false
dedicated_server=false
custom_features=""
export_filter="all_resources"
include_filter=""
exclude_filter=""
export_path="build/windows/ROADFALL.exe"
patches=PackedStringArray()
encryption_include_filters=""
encryption_exclude_filters=""
encryption_key=""

[preset.0.options]
custom_template/debug=""
custom_template/release=""
debug/export_console_wrapper=false
binary_format/architecture="x86_64"
application/icon="res://branding/roadfall_icon.svg"
application/file_version="0.1.0.0"
application/product_name="ROADFALL"
application/company_name="ROADFALL"
application/product_description="Open-world driving battle royale"
application/trademarks="ROADFALL"

[preset.1]
name="Android APK"
platform="Android"
runnable=true
advanced_options=false
dedicated_server=false
custom_features=""
export_filter="all_resources"
include_filter=""
exclude_filter=""
export_path="build/android/ROADFALL.apk"
patches=PackedStringArray()
encryption_include_filters=""
encryption_exclude_filters=""
encryption_key=""

[preset.1.options]
custom_template/debug=""
custom_template/release=""
apk_package="com.roadfall.game"
apk_version_code=1
apk_version_name="0.1.0"
architectures/armeabi-v7a=false
architectures/arm64-v8a=true
architectures/x86=false
architectures/x86_64=false
screen/orientation=0
screen/support_small=true
screen/support_normal=true
screen/support_large=true
screen/support_xlarge=true
launcher_icons/main_192x192="res://branding/roadfall_icon.svg"
launcher_icons/adaptive_foreground_432x432="res://branding/roadfall_icon.svg"
launcher_icons/adaptive_background_432x432="#08121d"
package/unique_name="com.roadfall.game"
package/name="ROADFALL"
package/signed=true

[preset.2]
name="Android AAB"
platform="Android"
runnable=false
advanced_options=false
dedicated_server=false
custom_features=""
export_filter="all_resources"
include_filter=""
exclude_filter=""
export_path="build/android/ROADFALL.aab"
patches=PackedStringArray()
encryption_include_filters=""
encryption_exclude_filters=""
encryption_key=""

[preset.2.options]
custom_template/debug=""
custom_template/release=""
apk_package="com.roadfall.game"
apk_version_code=1
apk_version_name="0.1.0"
architectures/armeabi-v7a=false
architectures/arm64-v8a=true
architectures/x86=false
architectures/x86_64=false
screen/orientation=0
screen/support_small=true
screen/support_normal=true
screen/support_large=true
screen/support_xlarge=true
package/unique_name="com.roadfall.game"
package/name="ROADFALL"
package/signed=true
