node_modules
dist
*.log
.vite
release
android/app/src/main/assets/public
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
android/.gradle
android/build
android/app/build
android/local.properties
android/capacitor-cordova-android-plugins
